.VPSidebarGroup {
  .items:first-child {
    a:first-child {
      padding-top: 6px;
      padding-bottom: 6px;
      line-height: 20px;
      font-size: 14px;
      margin: 0;
      color: var(--vp-c-text-1);

      .link-text {
        font-weight: 700;
      }

      &.active {
        color: var(--vp-c-brand);
      }
    }
  }
}
