:root {
  // override element
  --el-text-color-regular: var(--vp-c-text-1);
  --el-text-color-primary: var(--vp-c-text-1);
  --el-input-text-color: var(--vp-c-text-1);
  --el-border-color: var(--vp-c-border);
  --el-border-color-hover: var(--vp-c-brand-1);
  --el-border-color-base: var(--vp-c-border);
  --el-border-color-light: var(--vp-c-divider);
  --el-border-color-lighter: var(--vp-c-divider);
  --el-border-color-extra-light: var(--vp-c-divider);
  --el-color-primary: var(--vp-c-brand-2);
  --el-color-primary-light-3: var(--vp-c-brand-1);
  --el-color-primary-light-9: var(--k-hover-bg);
  --el-color-success: var(--k-color-success);
  --el-color-warning: var(--k-color-warning);
  --el-color-error: var(--k-color-danger);
  --el-color-white: var(--vp-c-bg);
  --el-color-black: var(--vp-c-fg);
  --el-bg-color: var(--vp-c-bg);
  --el-fill-color-light: var(--vp-c-bg);
  --el-bg-color-overlay: var(--vp-c-bg);
  --el-fill-color-blank: transparent;
  --el-disabled-bg-color: var(--vp-c-bg-alt);
  --el-fill-color: var(--vp-c-bg-alt);
  --vp-code-line-highlight-color: #00000036;
  --vp-code-block-divider-color: var(--shiki-token-comment);
  --vp-code-copy-code-hover-border-color: #000000;
  --vp-code-copy-code-hover-bg: var(--vp-c-bg-alt);
  --vp-code-copy-code-border-color: #83878b;
  --vp-code-copy-code-bg: var(--vp-code-line-highlight-color);
}

:root.dark {
  --vp-code-line-highlight-color: #3030307e;
  --vp-code-block-divider-color: var(--shiki-token-comment);
  --vp-code-copy-code-hover-border-color: var(--shiki-token-comment);
  --vp-code-copy-code-hover-bg: #fcfcfc31;
  --vp-code-copy-code-border-color: var(--vp-c-divider);
}

.el-button {
  --el-button-hover-bg-color: var(--k-button-hover-bg);
  --el-button-hover-border-color: var(--k-color-active);
  transition: var(--color-transition);
}

.el-dropdown__popper {
  --el-dropdown-menuItem-hover-fill: var(--c-bg-soft);
  --el-dropdown-menuItem-hover-color: var(--el-color-primary);
}

.el-dropdown-menu__item.is-disabled {
  pointer-events: none;
}

.el-dropdown-menu__item--divided {
  &:first-child, &:last-child {
    display: none;
  }
}

.el-input__wrapper,
.el-input-number__decrease,
.el-input-number__increase,
.el-checkbox__label {
  transition: var(--color-transition);
}

.el-input__prefix-inner, .el-input__suffix-inner {
  align-items: center;
}

.el-radio {
  height: 1.2rem;
}

.el-radio__label {
  --el-color-primary: var(--vp-c-brand-2);
  padding-top: 1px;
}

.el-scrollbar__bar {
  z-index: 500;
}

html.dark .el-switch {
  --el-switch-off-color: #72767d;
}
