:root {
  // override element
  --el-text-color-regular: var(--fg1);
  --el-text-color-primary: var(--fg3);
  --el-input-text-color: var(--fg1);
  --el-border-color: var(--vp-c-divider);
  --el-border-color-hover: var(--c-brand-dark);
  --el-border-color-base: var(--vp-c-divider);
  --el-border-color-light: var(--c-divider-light);
  --el-border-color-lighter: var(--c-divider-light);
  --el-border-color-extra-light: var(--c-divider-light);
  --el-color-primary: var(--brand);
  --el-color-success: var(--green);
  --el-color-warning: var(--yellow);
  --el-color-error: var(--red);
  --el-color-white: var(--white);
  --el-color-black: var(--fg1);
  --el-bg-color: var(--bg0);
  --el-fill-color-light: var(--c-bg-soft);
  --el-bg-color-overlay: var(--c-bg);
  --el-fill-color-blank: transparent;
}

.el-dropdown__popper {
  --el-dropdown-menuItem-hover-fill: var(--c-bg-soft);
  --el-dropdown-menuItem-hover-color: var(--el-color-primary);
}

.el-dropdown-menu__item.is-disabled {
  pointer-events: none;
}

.el-dropdown-menu__item--divided {
  &:first-child, &:last-child {
    display: none;
  }
}

.el-input .k-icon {
  height: 0.75rem;
}

.el-input__wrapper,
.el-input-number__decrease,
.el-input-number__increase,
.el-checkbox__label {
  transition: var(--color-transition);
}

.el-input__prefix-inner, .el-input__suffix-inner {
  align-items: center;
}

.el-radio {
  height: 1.2rem;
}

.el-radio__label {
  --el-color-primary: var(--active);
  padding-top: 1px;
}

.el-scrollbar__bar {
  z-index: 500;
}

html.dark .el-switch {
  --el-switch-off-color: #72767d;
}
