@import './element.scss';

html {
  --c-border: transparent;
  --k-color-success: #67c23a;
  --k-color-danger: #f56c6c;
  --k-color-warning: #e49400;
  --k-color-primary: var(--vp-c-text-1);
  --k-color-secondary: var(--vp-c-text-2);
  --k-color-active: var(--vp-c-brand);
  --k-color-border: var(--vp-c-divider);
}

html.dark {
  --c-border: transparent; // var(--vp-c-divider-inverse);
  --k-color-success: #3ba55e;
  --k-color-danger: #ff595a;
  --k-color-warning: #f9af1b;
}

.markdown {
  a:hover {
    text-decoration: underline;
  }

  code {
    color: var(--fg2);
    padding: 0.25rem 0.5rem;
    background-color: var(--page-bg);
    border-radius: 3px;
    overflow-wrap: break-word;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.Layout.immersive {
  .VPContent {
    padding-top: 0;
  }

  .VPNavBar.has-sidebar .container .content {
    display: none;
  }
}
