@import './element.scss';

:root {
  --vp-c-brand-1: #4a36b3;                              // 250 70 70
  --vp-c-brand-2: #6c57d9;                              // 250 60 85
  --vp-c-brand-3: #7562d9;                              // 250 55 85
  --vp-c-brand-soft: rgba(138, 115, 255, 0.14);         // 250 55 100
  --vp-c-brand-alt: #8F17E6;                            // 275 90 90
}

html.dark {
  --vp-c-brand-1: #aa99ff;                              // 250 40 100
  --vp-c-brand-2: #7c67e6;                              // 250 55 90
  --vp-c-brand-3: #6045e6;                              // 250 70 90
  --vp-c-brand-soft: rgba(128, 102, 255, 0.14);         // 250 60 100
  --vp-c-brand-alt: #C079F2;                            // 275 50 95
}

@mixin apply-color($name, $base) {
  --k-color-#{$name}: #{$base};
  --k-color-#{$name}-fade: #{fade-out($base, 0.9)};
}

html {
  --c-border: transparent;
  --k-hover-bg: var(--vp-c-bg-alt);
  --k-color-success: #67c23a;
  --k-color-danger: #f56c6c;
  --k-color-warning: #e49400;
  --k-color-disabled: #909399;
  --k-text-dark: var(--vp-c-text-1);
  --k-text-normal: var(--vp-c-text-2);
  --k-text-active: var(--vp-c-brand);
  --k-color-primary: var(--vp-c-brand);
  --k-color-secondary: var(--vp-c-text-2);
  --k-color-border: var(--vp-c-border);
  --k-color-divider: var(--vp-c-divider);
  --k-color-active: var(--k-color-primary);
  --k-fill-normal: var(--k-color-primary);
  --color-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;

  // @include apply-color(primary, #409eff);
  // @include apply-color(secondary, #909399);
  @include apply-color(success, #67c23a);
  @include apply-color(warning, #e49400);
  @include apply-color(danger, #f56c6c);
}

html.dark {
  --c-border: transparent; // var(--vp-c-divider-inverse);
  // @include apply-color(primary, #7459ff);
  // @include apply-color(secondary, #4f545c);
  @include apply-color(success, #3ba55e);
  @include apply-color(warning, #f9af1b);
  @include apply-color(danger, #ff595a);
}

.markdown {
  a:hover {
    text-decoration: underline;
  }

  code {
    color: var(--fg2);
    padding: 0.25rem 0.5rem;
    background-color: var(--vp-c-mute);
    border-radius: 3px;
    overflow-wrap: break-word;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.Layout.layout-schema {
  .VPContent {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;

    @media (min-width: 960px) {
      padding-left: var(--vp-sidebar-width);
    }
  }

  .VPNavBar.has-sidebar {
    display: none;
  }

  .VPSidebar {
    padding-left: 32px;
    width: var(--vp-sidebar-width);
  }

  .vp-sidebar-view {
    @media (min-width: 960px) {
      padding-top: 0;
    }
  }
}

@media (max-width: 640px) {
  .vp-doc .custom-block {
    div[class*='language-'] {
      border-radius: 0;
      margin: 16px -1.5rem;
    }
  }
}
