#app {
  .navbar .logo {
    height: 2rem;
    min-width: 2rem;
    margin-right: 0.8rem;
    vertical-align: top;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: var(--c-scroll-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-brand);
}

@media (max-width: 960px /* $MQMobile */) {
  ::-webkit-scrollbar {
    width: 3px;
  }
}

.panel-view {
  &::-webkit-scrollbar-track-piece {
    border-radius: 6px;
    background-color: inherit;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #eaecef80;
  }
}
